# dependencies
/node_modules

# Next.js
/.next
/out

# production
/build

# testing
/coverage

# env
.env*

# system
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
tsconfig.tsbuildinfo

# vercel
.vercel
